* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* page layout */
#header {
  display: flex;
  justify-content: space-between;
justify-items: center;
  height: 10vh;
  margin: 1rem;

}

#main {
  height: 80vh;
  background-color: #007580;
}
#footer {
  height: 10vh;
  background-color: #282846;
}
/* --------- */

/* navbar style */
.co {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  gap: 0.3rem;
  grid-template-rows: repeat(6, min-content);
}

.line1 {
  height: fit-content;
  border: 2px solid #453f3f;;
  /* border-radius: 50%; */
}
.nav-link,
.co {
  color:#212121;
  text-decoration: none;
  margin-right: 1rem;
}
.nav-item {
  list-style: none;
}
#nav-left-grp,
#nav-right-grp {
  display: flex;
}
.btn{
  display: inline-block;
  padding: 0.4rem 1rem;
  background-color: aliceblue;
}
.sign-in{
  background-color: #4583ed;
  color: #fff;
  border-radius: 8%;
}